<!-- src/app/pricing/pricing.component.html -->
<div class="p-grid p-justify-center p-align-center pricing-container">
  <div class="p-col-12 p-md-4">
    <p-card class="pricing-card" header="Basic Plan">
      <ng-template pTemplate="title">
        <h2>$10/month</h2>
      </ng-template>
      <ng-template pTemplate="content">
        <ul>
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
        </ul>
        <p-button type="button" label="Choose Plan" class="p-button-rounded" (click)="checkout()"></p-button>
      </ng-template>
    </p-card>
  </div>
  <!--<div class="p-col-12 p-md-4">
    <p-card class="pricing-card" header="Standard Plan">
      <ng-template pTemplate="title">
        <h2>$20/month</h2>
      </ng-template>
      <ng-template pTemplate="content">
        <ul>
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
          <li>Feature 4</li>
        </ul>
        <p-button type="button" label="Choose Plan" class="p-button-rounded"></p-button>
      </ng-template>
    </p-card>
  </div>
  <div class="p-col-12 p-md-4">
    <p-card class="pricing-card" header="Premium Plan">
      <ng-template pTemplate="title">
        <h2>$30/month</h2>
      </ng-template>
      <ng-template pTemplate="content">
        <ul>
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
          <li>Feature 4</li>
          <li>Feature 5</li>
        </ul>
        <p-button type="button" label="Choose Plan" class="p-button-rounded"></p-button>
      </ng-template>
    </p-card>
  </div>-->
</div>
