<style lang="css">
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
</style>
<p-menubar [model]="menuitems">
  <ng-template pTemplate="end">
    <a class="p-menuitem-text ng-star-inserted" data-pc-section="label" class="mr-4"
       href="https://github.com/chsami/microbot" target="_blank"><i class="pi pi-github mr-2"></i>Github</a>
    <a *ngIf="user$ | async" class="p-menuitem-text ng-star-inserted" data-pc-section="label"
       href="#" (click)="logout()"><i class="pi pi-sign-out mr-2"></i>Logout</a>
  </ng-template>
</p-menubar>

<p-toast></p-toast>

<p-progressSpinner
  *ngIf="loading$ | async"
  class="flex justify-content-center"
  styleClass="w-4rem h-4rem"
  strokeWidth="3"
  fill="var(--surface-ground)"
  animationDuration=".5s"/>

<router-outlet></router-outlet>
